[class^="try-col-"] {
  font-size: 16px;
}
.try-col-1 {
  flex: 0 0 calc(1 / 24 * 100%);
}
.try-col-2 {
  flex: 0 0 calc(2 / 24 * 100%);
}
.try-col-3 {
  flex: 0 0 calc(3 / 24 * 100%);
}
.try-col-4 {
  flex: 0 0 calc(4 / 24 * 100%);
}
.try-col-5 {
  flex: 0 0 calc(5 / 24 * 100%);
}
.try-col-6 {
  flex: 0 0 calc(6 / 24 * 100%);
}
.try-col-7 {
  flex: 0 0 calc(7 / 24 * 100%);
}
.try-col-8 {
  flex: 0 0 calc(8 / 24 * 100%);
}
.try-col-9 {
  flex: 0 0 calc(9 / 24 * 100%);
}
.try-col-10 {
  flex: 0 0 calc(10 / 24 * 100%);
}
.try-col-11 {
  flex: 0 0 calc(11 / 24 * 100%);
}
.try-col-12 {
  flex: 0 0 calc(12 / 24 * 100%);
}
.try-col-13 {
  flex: 0 0 calc(13 / 24 * 100%);
}
.try-col-14 {
  flex: 0 0 calc(14 / 24 * 100%);
}
.try-col-15 {
  flex: 0 0 calc(15 / 24 * 100%);
}
.try-col-16 {
  flex: 0 0 calc(16 / 24 * 100%);
}
.try-col-17 {
  flex: 0 0 calc(17 / 24 * 100%);
}
.try-col-18 {
  flex: 0 0 calc(18 / 24 * 100%);
}
.try-col-19 {
  flex: 0 0 calc(19 / 24 * 100%);
}
.try-col-20 {
  flex: 0 0 calc(20 / 24 * 100%);
}
.try-col-21 {
  flex: 0 0 calc(21 / 24 * 100%);
}
.try-col-22 {
  flex: 0 0 calc(22 / 24 * 100%);
}
.try-col-23 {
  flex: 0 0 calc(23 / 24 * 100%);
}
.try-col-24 {
  flex: 0 0 calc(24 / 24 * 100%);
}
.try-col-offset-1 {
  margin-left: calc(1 / 24 * 100%);
}
.try-col-offset-2 {
  margin-left: calc(2 / 24 * 100%);
}
.try-col-offset-3 {
  margin-left: calc(3 / 24 * 100%);
}
.try-col-offset-4 {
  margin-left: calc(4 / 24 * 100%);
}
.try-col-offset-5 {
  margin-left: calc(5 / 24 * 100%);
}
.try-col-offset-6 {
  margin-left: calc(6 / 24 * 100%);
}
.try-col-offset-7 {
  margin-left: calc(7 / 24 * 100%);
}
.try-col-offset-8 {
  margin-left: calc(8 / 24 * 100%);
}
.try-col-offset-9 {
  margin-left: calc(9 / 24 * 100%);
}
.try-col-offset-10 {
  margin-left: calc(10 / 24 * 100%);
}
.try-col-offset-11 {
  margin-left: calc(11 / 24 * 100%);
}
.try-col-offset-12 {
  margin-left: calc(12 / 24 * 100%);
}
.try-col-offset-13 {
  margin-left: calc(13 / 24 * 100%);
}
.try-col-offset-14 {
  margin-left: calc(14 / 24 * 100%);
}
.try-col-offset-15 {
  margin-left: calc(15 / 24 * 100%);
}
.try-col-offset-16 {
  margin-left: calc(16 / 24 * 100%);
}
.try-col-offset-17 {
  margin-left: calc(17 / 24 * 100%);
}
.try-col-offset-18 {
  margin-left: calc(18 / 24 * 100%);
}
.try-col-offset-19 {
  margin-left: calc(19 / 24 * 100%);
}
.try-col-offset-20 {
  margin-left: calc(20 / 24 * 100%);
}
.try-col-offset-21 {
  margin-left: calc(21 / 24 * 100%);
}
.try-col-offset-22 {
  margin-left: calc(22 / 24 * 100%);
}
.try-col-offset-23 {
  margin-left: calc(23 / 24 * 100%);
}
.try-col-offset-24 {
  margin-left: calc(24 / 24 * 100%);
}
