.try-checkbox {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;
}
.try-checkbox .try-checkbox__label {
  margin-left: 10px;
}
.try-checkbox.is-disabled {
  cursor: not-allowed;
  user-select: none;
}
